.start-button {
    color: #183E56;
    -unity-font-style: bold;
    background-color: #C7E8F5;
    border-color: #183E56;
    border-radius: 20px;
    font-size: 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.start-button:hover {
    background-color: #a0d8ee;
}